body {
	font-family: Futura;
	padding: 40px;
	background-color: #FFE6E7;
}

img {
	float: left;
	padding: 0px 40px 60px 0px;
}

a {
	text-decoration: none;
	color: #000;
}

h1 {
	color: #F1602D;
	margin: 20px 0px 20px 0px;
}
/* can also be written as margin: 20px 0; */

h2 {
	clear: both;
	margin-top: 60px;
}

#contact{
	font-size: 22px;
	line-height: 30px;
}

footer {
	text-align: center;
}

footer a {
	color: #F1602D;
}